.table{
    width: 850px;
    height: 850px;
    background-color: orange;
;
}

.black{
    background-color: black;
}
.white{
    background-color: white;
}
.date{
    font-weight: bold;
    width: 50%;
    height: 250px;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid gray;
    table-layout: fixed;
}
.date1{
    table-layout: fixed;
    width: 50%;
    height: 70px;
    text-align: center;
}
.date2,.date3{
    border: 2px solid gray;
    border-collapse: collapse;
}
.date3,.date2,.date{
    border: ridge;
    border-width: 3px;
}
/*
table{
    border-collapse: collapse;
}
table,th,td{
    border: 1px solid black;
}*/
